body {
    background-color: #c0c5ce;
}

.container {
    background-color: #0BA1AB;
    margin: 0 auto;
    padding: 4%;
    text-align: center;
    width: 65%;
}

.container img {
    max-width: 250px;
    padding: 4px;
}

#elementos {
    margin: 10%;
    padding: 2%;
    width: 80%;
}

#elementos .elemento {
    border: 2px solid #c0c5ce;
    display: block;
    margin: 10px;
    position: relative;
    text-align: left;
}

#elementos .elemento a {
    display: inline-block;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
    position: absolute;
    text-decoration: none;
    top: 30%;
}

input {
    color: white;
}